{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">Dashboard</li>
{% endblock %}

{% block content %}
<!--begin::Row-->
<div class="row">
  <div class="col-lg-3 col-6">
    <!--begin::Small Box Widget 1-->
    <div class="small-box text-bg-primary">
      <div class="inner">
        <h3>150</h3>
        <p>New Orders</p>
      </div>
      <svg
        class="small-box-icon"
        fill="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z"
        ></path>
      </svg>
      <a
        href="#"
        class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover"
      >
        More info <i class="bi bi-link-45deg"></i>
      </a>
    </div>
    <!--end::Small Box Widget 1-->
  </div>
  <!--end::Col-->
  <div class="col-lg-3 col-6">
    <!--begin::Small Box Widget 2-->
    <div class="small-box text-bg-success">
      <div class="inner">
        <h3>53<sup class="fs-5">%</sup></h3>
        <p>Bounce Rate</p>
      </div>
      <svg
        class="small-box-icon"
        fill="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"
        ></path>
      </svg>
      <a
        href="#"
        class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover"
      >
        More info <i class="bi bi-link-45deg"></i>
      </a>
    </div>
    <!--end::Small Box Widget 2-->
  </div>
  <!--end::Col-->
  <div class="col-lg-3 col-6">
    <!--begin::Small Box Widget 3-->
    <div class="small-box text-bg-warning">
      <div class="inner">
        <h3>44</h3>
        <p>User Registrations</p>
      </div>
      <svg
        class="small-box-icon"
        fill="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          d="M6.25 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM3.25 19.125a7.125 7.125 0 0114.25 0v.003l-.001.119a.75.75 0 01-.363.63 13.067 13.067 0 01-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75 0 01-.364-.63l-.001-.122zM19.75 7.5a.75.75 0 00-1.5 0v2.25H16a.75.75 0 000 1.5h2.25v2.25a.75.75 0 001.5 0v-2.25H22a.75.75 0 000-1.5h-2.25V7.5z"
        ></path>
      </svg>
      <a
        href="#"
        class="small-box-footer link-dark link-underline-opacity-0 link-underline-opacity-50-hover"
      >
        More info <i class="bi bi-link-45deg"></i>
      </a>
    </div>
    <!--end::Small Box Widget 3-->
  </div>
  <!--end::Col-->
  <div class="col-lg-3 col-6">
    <!--begin::Small Box Widget 4-->
    <div class="small-box text-bg-danger">
      <div class="inner">
        <h3>65</h3>
        <p>Unique Visitors</p>
      </div>
      <svg
        class="small-box-icon"
        fill="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
      >
        <path
          clip-rule="evenodd"
          fill-rule="evenodd"
          d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z"
        ></path>
        <path
          clip-rule="evenodd"
          fill-rule="evenodd"
          d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5V3z"
        ></path>
      </svg>
      <a
        href="#"
        class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover"
      >
        More info <i class="bi bi-link-45deg"></i>
      </a>
    </div>
    <!--end::Small Box Widget 4-->
  </div>
  <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->
<div class="row">
  <!-- Left col -->
  <section class="col-lg-7 connectedSortable">
    <!--begin::Custom tabs (Charts with tabs)-->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="bi bi-chart-bar me-1"></i>
          Sales
        </h3>
        <div class="card-tools">
          <ul class="nav nav-pills ms-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#revenue-chart" data-bs-toggle="tab">Area</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#sales-chart" data-bs-toggle="tab">Donut</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="tab-content p-0">
          <!-- Morris chart - Sales -->
          <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;">
            <div id="revenue-chart-canvas" height="300" style="height: 300px;"></div>
          </div>
          <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
            <div id="sales-chart-canvas" height="300" style="height: 300px;"></div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!--end::Custom tabs (Charts with tabs)-->

    <!--begin::Chat Box-->
    <div class="card direct-chat direct-chat-primary">
      <div class="card-header">
        <h3 class="card-title">Direct Chat</h3>

        <div class="card-tools">
          <span title="3 New Messages" class="badge text-bg-primary">3</span>
          <button type="button" class="btn btn-tool" data-lte-toggle="card-collapse">
            <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
            <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
          </button>
          <button
            type="button"
            class="btn btn-tool"
            title="Contacts"
            data-lte-toggle="chat-pane-toggle"
          >
            <i class="bi bi-comment-text"></i>
          </button>
          <button type="button" class="btn btn-tool" data-lte-toggle="card-remove">
            <i class="bi bi-x-lg"></i>
          </button>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages">
          <!-- Message. Default to the left -->
          <div class="direct-chat-msg">
            <div class="direct-chat-infos clearfix">
              <span class="direct-chat-name float-start">Alexander Pierce</span>
              <span class="direct-chat-timestamp float-end">23 Jan 2:00 pm</span>
            </div>
            <!-- /.direct-chat-infos -->
            <img class="direct-chat-img" src="{{ url_for('static', filename='assets/img/user1-128x128.jpg') }}" alt="message user image" />
            <!-- /.direct-chat-img -->
            <div class="direct-chat-text">
              Is this template really for free? That's unbelievable!
            </div>
            <!-- /.direct-chat-text -->
          </div>
          <!-- /.direct-chat-msg -->

          <!-- Message to the right -->
          <div class="direct-chat-msg right">
            <div class="direct-chat-infos clearfix">
              <span class="direct-chat-name float-end">Sarah Bullock</span>
              <span class="direct-chat-timestamp float-start">23 Jan 2:05 pm</span>
            </div>
            <!-- /.direct-chat-infos -->
            <img class="direct-chat-img" src="{{ url_for('static', filename='assets/img/user3-128x128.jpg') }}" alt="message user image" />
            <!-- /.direct-chat-img -->
            <div class="direct-chat-text">You better believe it!</div>
            <!-- /.direct-chat-text -->
          </div>
          <!-- /.direct-chat-msg -->

          <!-- Message. Default to the left -->
          <div class="direct-chat-msg">
            <div class="direct-chat-infos clearfix">
              <span class="direct-chat-name float-start">Alexander Pierce</span>
              <span class="direct-chat-timestamp float-end">23 Jan 5:37 pm</span>
            </div>
            <!-- /.direct-chat-infos -->
            <img class="direct-chat-img" src="{{ url_for('static', filename='assets/img/user1-128x128.jpg') }}" alt="message user image" />
            <!-- /.direct-chat-text -->
            <div class="direct-chat-text">Working with AdminLTE on a great new app! Wanna join?</div>
            <!-- /.direct-chat-text -->
          </div>
          <!-- /.direct-chat-msg -->

          <!-- Message to the right -->
          <div class="direct-chat-msg right">
            <div class="direct-chat-infos clearfix">
              <span class="direct-chat-name float-end">Sarah Bullock</span>
              <span class="direct-chat-timestamp float-start">23 Jan 6:10 pm</span>
            </div>
            <!-- /.direct-chat-infos -->
            <img class="direct-chat-img" src="{{ url_for('static', filename='assets/img/user3-128x128.jpg') }}" alt="message user image" />
            <!-- /.direct-chat-img -->
            <div class="direct-chat-text">I would love to.</div>
            <!-- /.direct-chat-text -->
          </div>
          <!-- /.direct-chat-msg -->
        </div>
        <!--/.direct-chat-messages-->

        <!-- Contacts are loaded here -->
        <div class="direct-chat-contacts">
          <ul class="contacts-list">
            <li>
              <a href="#">
                <img class="contacts-list-img" src="{{ url_for('static', filename='assets/img/user1-128x128.jpg') }}" alt="User Avatar" />

                <div class="contacts-list-info">
                  <span class="contacts-list-name">
                    Count Dracula
                    <small class="contacts-list-date float-end">2/28/2023</small>
                  </span>
                  <span class="contacts-list-msg">How have you been? I was...</span>
                </div>
                <!-- /.contacts-list-info -->
              </a>
            </li>
            <!-- End Contact Item -->
            <li>
              <a href="#">
                <img class="contacts-list-img" src="{{ url_for('static', filename='assets/img/user7-128x128.jpg') }}" alt="User Avatar" />

                <div class="contacts-list-info">
                  <span class="contacts-list-name">
                    Sarah Doe
                    <small class="contacts-list-date float-end">2/23/2023</small>
                  </span>
                  <span class="contacts-list-msg">I will be waiting for...</span>
                </div>
                <!-- /.contacts-list-info -->
              </a>
            </li>
            <!-- End Contact Item -->
            <li>
              <a href="#">
                <img class="contacts-list-img" src="{{ url_for('static', filename='assets/img/user3-128x128.jpg') }}" alt="User Avatar" />

                <div class="contacts-list-info">
                  <span class="contacts-list-name">
                    Nadia Jolie
                    <small class="contacts-list-date float-end">2/20/2023</small>
                  </span>
                  <span class="contacts-list-msg">I'll call you back at...</span>
                </div>
                <!-- /.contacts-list-info -->
              </a>
            </li>
            <!-- End Contact Item -->
            <li>
              <a href="#">
                <img class="contacts-list-img" src="{{ url_for('static', filename='assets/img/user5-128x128.jpg') }}" alt="User Avatar" />

                <div class="contacts-list-info">
                  <span class="contacts-list-name">
                    Nora S. Vans
                    <small class="contacts-list-date float-end">2/10/2023</small>
                  </span>
                  <span class="contacts-list-msg">Where is your new...</span>
                </div>
                <!-- /.contacts-list-info -->
              </a>
            </li>
            <!-- End Contact Item -->
            <li>
              <a href="#">
                <img class="contacts-list-img" src="{{ url_for('static', filename='assets/img/user6-128x128.jpg') }}" alt="User Avatar" />

                <div class="contacts-list-info">
                  <span class="contacts-list-name">
                    John K.
                    <small class="contacts-list-date float-end">1/27/2023</small>
                  </span>
                  <span class="contacts-list-msg">Can I take a look at...</span>
                </div>
                <!-- /.contacts-list-info -->
              </a>
            </li>
            <!-- End Contact Item -->
          </ul>
          <!-- /.contacts-list -->
        </div>
        <!--/.direct-chat-contacts-->
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <form action="#" method="post">
          <div class="input-group">
            <input type="text" name="message" placeholder="Type Message ..." class="form-control" />
            <span class="input-group-append">
              <button type="button" class="btn btn-primary">Send</button>
            </span>
          </div>
        </form>
      </div>
      <!-- /.card-footer-->
    </div>
    <!--end::Chat Box-->
  </section>
  <!-- /.Left col -->
  <!-- right col (We are only adding the ID to make the widgets sortable)-->
  <section class="col-lg-5 connectedSortable">
    <!--begin::Map card-->
    <div class="card bg-gradient-primary">
      <div class="card-header border-0">
        <h3 class="card-title">
          <i class="bi bi-map-fill me-1"></i>
          Visitors
        </h3>
        <!-- card tools -->
        <div class="card-tools">
          <button type="button" class="btn btn-primary btn-sm" data-lte-toggle="card-collapse" title="Collapse">
            <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
            <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <div class="card-body">
        <div id="world-map" style="height: 250px; width: 100%;"></div>
      </div>
      <!-- /.card-body-->
      <div class="card-footer bg-transparent">
        <div class="row">
          <div class="col-4 text-center">
            <div id="sparkline-1" class="text-dark-75"></div>
            <div class="text-white">Visitors</div>
          </div>
          <div class="col-4 text-center">
            <div id="sparkline-2" class="text-dark"></div>
            <div class="text-white">Online</div>
          </div>
          <div class="col-4 text-center">
            <div id="sparkline-3" class="text-dark"></div>
            <div class="text-white">Sales</div>
          </div>
        </div>
        <!--end::Row-->
      </div>
    </div>
    <!--end::Map card-->

    <!--begin::solid sales graph-->
    <div class="card bg-gradient-info">
      <div class="card-header border-0">
        <h3 class="card-title">
          <i class="bi bi-bar-chart-fill me-1"></i>
          Sales Graph
        </h3>
        <!-- card tools -->
        <div class="card-tools">
          <button type="button" class="btn btn-info btn-sm" data-lte-toggle="card-collapse">
            <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
            <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
          </button>
        </div>
        <!-- /.card-tools -->
      </div>
      <div class="card-body">
        <div class="chart" id="line-chart" style="height: 250px;"></div>
      </div>
      <!-- /.card-body -->
      <div class="card-footer bg-transparent">
        <div class="row">
          <div class="col-4 text-center">
            <input type="text" class="knob" readonly value="20" data-width="60" data-height="60" data-fgColor="#39CCCC" />
            <div class="text-white">Mail-Orders</div>
          </div>
          <!-- ./col -->
          <div class="col-4 text-center">
            <input type="text" class="knob" readonly value="50" data-width="60" data-height="60" data-fgColor="#39CCCC" />
            <div class="text-white">Online</div>
          </div>
          <!-- ./col -->
          <div class="col-4 text-center">
            <input type="text" class="knob" readonly value="30" data-width="60" data-height="60" data-fgColor="#39CCCC" />
            <div class="text-white">In-Store</div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.card-footer -->
    </div>
    <!--end::solid sales graph-->

    <!--begin::Calendar-->
    <div class="card bg-gradient-success">
      <div class="card-header border-0">
        <h3 class="card-title">
          <i class="bi bi-calendar-week-fill me-1"></i>
          Calendar
        </h3>
        <!-- tools card -->
        <div class="card-tools">
          <!-- button with a dropdown -->
          <div class="btn-group">
            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-bs-toggle="dropdown" data-bs-reference="parent">
              <i class="bi bi-gear-fill"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-end" role="menu">
              <a href="#" class="dropdown-item">Add new event</a>
              <a href="#" class="dropdown-item">Clear events</a>
              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item">View calendar</a>
            </div>
          </div>
          <button type="button" class="btn btn-success btn-sm" data-lte-toggle="card-collapse">
            <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
            <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
          </button>
        </div>
        <!-- /. tools -->
      </div>
      <!-- /.card-header -->
      <div class="card-body pt-0">
        <!--The calendar -->
        <div id="calendar" style="width: 100%"></div>
      </div>
      <!-- /.card-body -->
    </div>
    <!--end::Calendar-->
  </section>
  <!-- right col -->
</div>
<!--end::Row-->
{% endblock %}

{% block extra_js %}
<!-- OPTIONAL SCRIPTS -->
<script
  src="https://cdn.jsdelivr.net/npm/apexcharts@3.37.1/dist/apexcharts.min.js"
  integrity="sha256-+vh8GkaU7C9/wbSLIcwq82tQ2wTf44aOHA8HlBMwRI8="
  crossorigin="anonymous"
></script>
<!-- jsvectormap -->
<script
  src="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/js/jsvectormap.min.js"
  integrity="sha256-/t1nN2956BT869E6H4V1dnt0X5pAQHPytli+1nTZm2Y="
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/jsvectormap@1.5.3/dist/maps/world.js"
  integrity="sha256-XPpPaZlU8S/HWf7FZLAncLg2SAkP8ScUTII89x9D3lY="
  crossorigin="anonymous"
></script>

<script>
  // Sample chart initialization
  document.addEventListener('DOMContentLoaded', function() {
    // Sample Area Chart
    if (document.querySelector("#revenue-chart-canvas")) {
      var areaChartOptions = {
        series: [{
          name: 'Digital Goods',
          data: [28, 48, 40, 19, 86, 27, 90]
        }, {
          name: 'Electronics',
          data: [65, 59, 80, 81, 56, 55, 40]
        }],
        chart: {
          height: 300,
          type: 'area',
          toolbar: {
            show: false,
          }
        },
        colors: ['#007bff', '#6c757d'],
        dataLabels: {
          enabled: false
        },
        stroke: {
          curve: 'smooth'
        },
        xaxis: {
          type: 'datetime',
          categories: ["2018-09-19T00:00:00.000Z", "2018-09-19T01:30:00.000Z", "2018-09-19T02:30:00.000Z", "2018-09-19T03:30:00.000Z", "2018-09-19T04:30:00.000Z", "2018-09-19T05:30:00.000Z", "2018-09-19T06:30:00.000Z"]
        },
        tooltip: {
          x: {
            format: 'dd/MM/yy HH:mm'
          },
        },
      };

      var areaChart = new ApexCharts(document.querySelector("#revenue-chart-canvas"), areaChartOptions);
      areaChart.render();
    }

    // Sample Donut Chart
    if (document.querySelector("#sales-chart-canvas")) {
      var donutChartOptions = {
        series: [44, 55, 13, 43, 22],
        chart: {
          height: 300,
          type: 'donut',
        },
        labels: ['Team A', 'Team B', 'Team C', 'Team D', 'Team E'],
        colors: ['#007bff', '#28a745', '#ffc107', '#dc3545', '#6c757d'],
        responsive: [{
          breakpoint: 480,
          options: {
            chart: {
              width: 200
            },
            legend: {
              position: 'bottom'
            }
          }
        }]
      };

      var donutChart = new ApexCharts(document.querySelector("#sales-chart-canvas"), donutChartOptions);
      donutChart.render();
    }

    // World Map
    if (document.querySelector("#world-map")) {
      const map = new jsVectorMap({
        selector: '#world-map',
        map: 'world',
        backgroundColor: 'transparent',
        regionStyle: {
          initial: {
            fill: '#ffffff',
            fillOpacity: 0.9,
            stroke: 'none',
            strokeWidth: 0,
            strokeOpacity: 1
          },
          hover: {
            fillOpacity: 0.7,
            cursor: 'pointer'
          }
        },
        series: {
          regions: [{
            values: {
              CN: 318,
              IN: 273,
              US: 266,
              ID: 170,
              BR: 81,
              PK: 78,
              BD: 52,
              NG: 49,
              MX: 38,
              JP: 30,
              PH: 29,
              VN: 26,
              ET: 25,
              EG: 24,
              DE: 24,
              TR: 23,
              CD: 21,
              FR: 21,
              TH: 20,
              GB: 20,
              TZ: 17,
              IT: 17,
              MM: 16,
              KE: 15,
              KR: 15,
              CO: 14,
              UG: 13,
              ES: 13,
              AR: 13,
              PL: 12,
              DZ: 12,
              CA: 11,
              AF: 11,
              NP: 10,
              UZ: 9,
              PE: 9,
              MY: 9,
              SA: 8,
              MZ: 8,
              GH: 8,
              YE: 7,
              VE: 7,
              SY: 7,
              MG: 7,
              KZ: 7,
              CM: 7,
              LK: 7,
              RO: 6,
              NE: 6,
              AO: 6,
              CL: 6,
              BF: 5,
              MW: 5,
              ML: 5,
              RU: 5,
              UA: 5,
              MR: 4,
              XK: 4,
              ZW: 4,
              SN: 4,
              BI: 3,
              AZ: 3,
              BY: 3,
              HN: 3,
              BO: 3,
              AM: 3,
              LB: 2,
              EE: 2,
              ZM: 2,
              SL: 2,
              BJ: 2,
              NI: 2,
              NL: 2,
              CR: 1,
              AL: 1,
              GN: 1,
              ZA: 1
            },
            scale: ['#ffffff', '#0154aa'],
            normalizeFunction: 'polynomial'
          }]
        }
      })
    }
  });
</script>
{% endblock %}